*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 100%;
  height: 100vh;
  color: white;
}

.setup {
  background-color: #152938;
  height: 100%;
  width: 100%;
  display: block;
}

.setup .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  margin-bottom: 5%;
}

.setup .textbox h1 {
  text-align: center;
  font-size: 2rem;
  height: 35%;
}

.settings {
  height: 100%;
}

.container--settings {
  margin: 0 auto;
  width: 85%;
  height: 50%;
  background-color: #FCFCFC;
  height: 55%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--settings .container--settings-content-holder {
  width: 80%;
  height: 75%;
  margin: 0 auto;
  color: #7191A5;
}

.container--settings .container--settings-content-holder .settings-row {
  height: 30%;
  width: 100%;
}

.container--settings .container--settings-content-holder .settings-row h2 {
  margin-bottom: 4%;
}

.container--settings .container--settings-content-holder .settings-row .selected--option {
  background-color: #6395B8;
}

.container--settings .container--settings-content-holder div:nth-child(1) button, .container--settings .container--settings-content-holder div:nth-child(3) button {
  border-radius: 26px;
  border: none;
  background-color: #BCCED9;
  width: 45%;
  height: 30%;
  color: white;
  font-weight: bold;
}

.container--settings .container--settings-content-holder div:nth-child(1) button + button, .container--settings .container--settings-content-holder div:nth-child(3) button + button {
  float: right;
}

.container--settings .container--settings-content-holder div:nth-child(2) button {
  border-radius: 26px;
  border: none;
  background-color: #BCCED9;
  width: 19%;
  height: 30%;
  color: white;
  font-weight: bold;
}

.container--settings .container--settings-content-holder div:nth-child(2) button:not(button:last-child) {
  margin-right: 5%;
}

.container--settings .container--settings-content-holder button:last-child {
  border-radius: 26px;
  border: none;
  background-color: #FDA214;
  width: 100%;
  height: 8.5%;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .container--settings {
    width: 65%;
  }
}

@media screen and (min-width: 1025px) {
  .container--settings {
    width: 49%;
  }
}

@media screen and (min-width: 1355px) {
  .container--settings {
    width: 38%;
  }
}

.game--container {
  margin: 0 auto;
  width: 94%;
  height: 90vh;
  padding-top: 2%;
  display: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}

.game--container .top--bar {
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.game--container .top--bar h1 {
  margin-top: 8px;
  font-size: 1.5rem;
}

@media screen and (min-width: 1025px) {
  .game--container .top--bar h1 {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 1355px) {
  .game--container .top--bar h1 {
    font-size: 2.3rem;
  }
}

.game--container .top--bar-buttons button:first-child {
  margin-right: 5px;
}

.game--container .top--bar-buttons button {
  padding: 0.5em 0.5em;
  display: inline;
  font-size: 15px;
  border-radius: 26px;
  border: none;
  background-color: #FDA214;
  width: none;
  height: none;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .game--container .top--bar-buttons button {
    padding: 1em 1em;
  }
}

@media screen and (min-width: 1025px) {
  .game--container .top--bar-buttons button {
    font-size: 20px;
    border-radius: 31px;
  }
}

.planche--container {
  width: 91%;
  height: 65%;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planche--container .planche6x6, .planche--container .planche4x4 {
  width: 91%;
  height: 100%;
  margin: 0 auto;
  display: none;
}

.planche--container .planche6x6 .guessed, .planche--container .planche4x4 .guessed {
  background-color: #BCCED9;
  pointer-events: none;
}

.planche--container .planche6x6 .guessed h1, .planche--container .planche4x4 .guessed h1 {
  opacity: 1;
}

.planche--container .planche6x6 .active, .planche--container .planche6x6 .active-hitten, .planche--container .planche4x4 .active, .planche--container .planche4x4 .active-hitten {
  background-color: #FDA214;
  pointer-events: none;
}

.planche--container .planche6x6 .active h1, .planche--container .planche6x6 .active-hitten h1, .planche--container .planche4x4 .active h1, .planche--container .planche4x4 .active-hitten h1 {
  opacity: 1;
}

.planche--container .planche6x6 .hidden, .planche--container .planche4x4 .hidden {
  background-color: #304859;
}

.planche--container .planche6x6 .hidden h1, .planche--container .planche4x4 .hidden h1 {
  opacity: 0;
}

.planche--container .planche6x6 .circle {
  width: 12vw;
  height: 12vw;
}

.planche--container .planche6x6 .circle h1 {
  font-size: 25px;
}

@media screen and (min-width: 481px) {
  .planche--container .planche6x6 .circle {
    width: 11vw;
    height: 11vw;
  }
}

@media screen and (min-width: 580px) {
  .planche--container .planche6x6 .row {
    height: 17.666667%;
  }
  .planche--container .planche6x6 .circle {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (min-width: 769px) {
  .planche--container .planche6x6 {
    width: 63%;
  }
  .planche--container .planche6x6 .row {
    height: 15.666667%;
  }
  .planche--container .planche6x6 .circle {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (min-width: 1025px) {
  .planche--container .planche6x6 {
    width: 50%;
  }
  .planche--container .planche6x6 .circle {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (min-width: 1355px) {
  .planche--container .planche6x6 {
    width: 40%;
  }
  .planche--container .planche6x6 .circle {
    width: 4vw;
    height: 4vw;
  }
}

.planche--container .planche4x4 {
  height: 50vh;
  width: 80vw;
  display: none;
}

.planche--container .planche4x4 .circle {
  width: 13vw;
  height: 13vw;
}

.planche--container .planche4x4 .row {
  margin: 0 auto;
  width: 100%;
  height: 27%;
}

.planche--container .planche4x4 .row .col {
  width: 24.66%;
}

@media screen and (min-width: 481px) {
  .planche--container .planche4x4 {
    height: 45vh;
    width: 70vw;
  }
  .planche--container .planche4x4 .circle {
    width: 11vw;
    height: 11vw;
  }
}

@media screen and (min-width: 769px) {
  .planche--container .planche4x4 {
    width: 55vw;
  }
  .planche--container .planche4x4 .circle {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (min-width: 1025px) {
  .planche--container .planche4x4 {
    width: 50vw;
    height: 36vh;
  }
  .planche--container .planche4x4 .circle {
    width: 8vh;
    height: 8vh;
  }
}

@media screen and (min-width: 1355px) {
  .planche--container .planche4x4 {
    width: 35%;
    height: 63%;
  }
  .planche--container .planche4x4 .circle {
    width: 8vh;
    height: 8vh;
  }
}

.bottom--bar-multiplayer {
  height: 18%;
  width: 100%;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom--bar-multiplayer > div {
  width: 23%;
  height: 45%;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: none;
}

.bottom--bar-multiplayer > div h1:first-child {
  margin-top: 10%;
  font-size: 0.7rem;
}

.bottom--bar-multiplayer > div h1 {
  width: 80%;
  margin: 0 auto;
  color: #7191A5;
  margin-bottom: 5%;
}

@media screen and (min-width: 769px) {
  .bottom--bar-multiplayer > div {
    width: 16%;
    height: 45%;
  }
}

@media screen and (min-width: 1025px) {
  .bottom--bar-multiplayer > div {
    height: 55%;
  }
}

@media screen and (min-width: 1355px) {
  .bottom--bar-multiplayer > div {
    width: 12%;
    height: 47%;
  }
}

.bottom--bar-multiplayer > div:first-child {
  background-color: #FDA214;
}

.bottom--bar--singleplayer {
  width: 80%;
  height: 17%;
  margin: 0 auto;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom--bar--singleplayer-box {
  color: #7191A5;
  width: 45%;
  height: 52%;
  background-color: #F2F2F2;
  border-radius: 10px;
}

@media screen and (min-width: 1025px) {
  .bottom--bar--singleplayer-box {
    width: 25%;
  }
}

.bottom--bar--singleplayer .text--line {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.bottom--bar--singleplayer .text--line div {
  height: 35%;
}

.bottom--bar--singleplayer .text--line h1 {
  display: inline-block;
  height: 65%;
}

.bottom--bar--singleplayer .text--line h1:last-child {
  float: right;
  color: #304859;
}

.row {
  width: 100%;
  height: 18.666667%;
}

.col {
  float: left;
  height: 100%;
  width: 16.66%;
}

.col .circle {
  background-color: #304859;
  margin: 0 auto;
  border-radius: 50px;
}

.col h1 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 34%;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}

.container--results-multiplayer {
  width: 80%;
  height: 75%;
  margin: 0 auto;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-top: 15%;
  display: none;
  z-index: 0;
  top: 0%;
  right: 10%;
}

@media screen and (min-width: 1025px) {
  .container--results-multiplayer {
    width: 60%;
    height: 65%;
  }
}

@media screen and (min-width: 1355px) {
  .container--results-multiplayer {
    width: 47%;
    height: 50%;
    top: -2%;
  }
}

.results {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.results--text {
  height: 24%;
  padding-top: 8%;
  text-align: center;
  color: black;
}

.results--text h1 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.results--box {
  height: 13.5%;
  background-color: #DFE7EC;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  border-radius: 10px;
}

.results--box > .results--box-row {
  margin: 0 auto;
  width: 90%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results--box > .results--box-row > h1 {
  height: 100%;
  color: #7191A5;
}

.results--box > .results--box-row > h1 + h1 {
  display: inline-block;
  height: 100%;
  font-size: 20px;
  color: #304859;
}

.results--box > .results--box-row div span {
  display: block;
}

.results div:nth-child(6) {
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results div:nth-child(6) button {
  display: inline-block;
  border-radius: 26px;
  border: none;
  background-color: #FDA214;
  width: 48%;
  height: 50%;
  color: white;
  font-weight: bold;
}

.results div:nth-child(6) button:last-child {
  float: right;
}

.container--results-singleplayer {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-top: 15%;
  display: none;
  z-index: 1;
  top: 0%;
  right: 10%;
}

.container--results-singleplayer .results--text {
  margin-bottom: 9%;
}

.container--results-singleplayer .results--box {
  height: 21%;
  background-color: #DFE7EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  border-radius: 10px;
}

.container--results-singleplayer .results--box > .results--box-row {
  margin: 0 auto;
  width: 90%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--results-singleplayer .results--box > .results--box-row > h1 {
  height: 100%;
  color: #7191A5;
}

.container--results-singleplayer .results--box > .results--box-row > h1 + h1 {
  display: inline-block;
  height: 100%;
  font-size: 20px;
  color: #304859;
}

.container--results-singleplayer .results--box > .results--box-row div span {
  display: block;
}

.container--results-singleplayer .results div:last-child {
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--results-singleplayer .results div:last-child button {
  display: inline-block;
  border-radius: 26px;
  border: none;
  background-color: #FDA214;
  width: 48%;
  height: 65%;
  color: white;
  font-weight: bold;
}

.container--results-singleplayer .results div:last-child button:last-child {
  float: right;
}

@media screen and (min-width: 1025px) {
  .container--results-singleplayer {
    width: 60%;
    height: 65%;
    left: 19%;
  }
}

@media screen and (min-width: 1355px) {
  .container--results-singleplayer {
    width: 47%;
    height: 50%;
    top: -2%;
  }
}

.hide-behind {
  opacity: 0.5;
  z-index: -1;
}

.show-ontop {
  position: absolute;
  display: block;
  left: 10%;
}
/*# sourceMappingURL=main.css.map */